.layout {
    color: var(--txt-color);
}

.layout__content {
    padding-left: var(--sidebar-width);
    background-color: var(--second-bg);
    min-height: 100vh;
}
.layout__content-main {
    padding: 10px 15px 0px 0px;
    display: flex;
    /* min-height: 91vh; */
    /* display: flex; */
    /* justify-content: space-between; */
} 

.layout-component{
    /* width: 78.59%; */
    width:100%;
    overflow-y: auto;
    /* overflow-x: visible; */
    height: 89.4vh;
}
.layout-component-option{
    width: 50vh;
    /* z-index: 100px; */

    /* margin-top: 10px; */
    /* width: 35%; */
    /* background-color: blueviolet; */
}